@using CustomerApp.Controllers;
@model List<Order>

@{
}

<div>
    @foreach(var item in Model)
    {
        if(Data.customer!=null && Data.customer.Id==item.CustomerId)
        {
        <div class="card">
            <div class="card-header">
                Order number @item.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.DateOrdered</h5>
                <p class="card-text">@item.DateShipped</p>
                <a class="btn btn-primary" asp-controller="Order" asp-action="VerProductos" asp-route-orderId="@item.Id">Ver productos</a>
                <a class="btn btn-danger" asp-controller="Order" asp-action="EliminarOrden" asp-route-Id="@item.Id"> Eliminar orden</a>
            </div>
        </div>
        }
    }
</div>